[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/stephansama/nvim
[submodule "scripts"]
	path = .config/scripts
	url = https://github.com/stephansama/scripts
[submodule "wezterm"]
	path = .config/wezterm
	url = https://github.com/stephansama/wezterm
[submodule "yazi"]
	path = .config/yazi
	url = https://github.com/stephansama/yazi
[submodule "alfred"]
	path = custom/alfred
	url = https://github.com/stephansama/alfred
[submodule "firmware"]
	path = custom/firmware
	url = https://github.com/stephansama/firmware
[submodule "refind"]
	path = custom/refind
	url = https://github.com/stephansama/refind
[submodule "sddm"]
	path = custom/sddm
	url = https://github.com/stephansama/sddm
[submodule "hyprland"]
	path = .config/hypr
	url = https://github.com/stephansama/hyprland
[submodule "rofi"]
	path = .config/rofi
	url = https://github.com/stephansama/rofi
[submodule "atuin"]
	path = .config/atuin
	url = https://github.com/stephansama/atuin
[submodule "ghostty"]
	path = .config/ghostty
	url = https://github.com/stephansama/ghostty
[submodule "kitty"]
	path = .config/kitty
	url = https://github.com/stephansama/kitty
[submodule "lazygit"]
	path = .config/lazygit
	url = https://github.com/stephansama/lazygit
[submodule "bat"]
	path = .config/bat
	url = https://github.com/stephansama/bat
[submodule "mise"]
	path = .config/mise
	url = https://github.com/stephansama/mise
[submodule "starship"]
	path = .config/starship
	url = https://github.com/stephansama/starship
[submodule "tmux"]
	path = .config/tmux
	url = https://github.com/stephansama/tmux
[submodule "zsh"]
	path = custom/zsh
	url = https://github.com/stephansama/zsh
[submodule "vim"]
	path = .vim
	url = https://github.com/stephansama/vim
[submodule "gitconfig"]
	path = .config/git
	url = https://github.com/stephansama/gitconfig
[submodule "opencode"]
	path = .config/opencode
	url = https://github.com/stephansama/opencode
