[submodule "config/nvim"]
	path = .config/nvim
	url = https://github.com/stephansama/nvim.git
[submodule ".config/scripts"]
	path = .config/scripts
	url = https://github.com/stephansama/scripts.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/stephansama/wezterm.git
[submodule ".config/yazi"]
	path = .config/yazi
	url = https://github.com/stephansama/yazi
[submodule "custom/alfred"]
	path = custom/alfred
	url = https://github.com/stephansama/alfred
[submodule "custom/firmware"]
	path = custom/firmware
	url = https://github.com/stephansama/firmware.git
