[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/stephansama/nvim.git
	branch = main
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/stephansama/wezterm.git
	branch = main
